<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.WSKPolice" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/cop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cop"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" >
        <activity
            android:name="com.example.WSKPolice.Detectives"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.CriminalCases"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.PhotoRobot"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.Wanted"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.Department"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.About"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.RegisterMenu"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.MainMenu"
            android:exported="true"
            android:label="Menu" />
        <activity
            android:name="com.example.WSKPolice.SignIn"
            android:exported="true" />
        <activity
            android:name="com.example.WSKPolice.MainActivity"
            android:exported="true"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>